body {
    background-image: url("../images/space-background.jpg")
}

.container {
    color: white;
}

#instruction-box {
    background-color: turquoise;
    padding: 0;
}

#target-box {
    background-color: darkcyan;
}

#score-box {
    background-color: darkslateblue;
}