body {
    background-image: url("../images/space-background.jpg")
}

.container {
    color: white;
}

.gem {
    margin: 2%;
    width: 150px;
    border-style: groove;
    border-width: 2px;
    border-color: orange;
}

#instruction-box {
    background-color: turquoise;
    padding: 0;
}

#target-box {
    background-color: darkcyan;
}

#score-box {
    background-color: darkslateblue;
}